*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    height: 600px;
    width: 500px;
  }

.main-title {
    align-items: center;
    margin: auto;
    background: linear-gradient(to right, rgb(27, 36, 211), rgb(236, 240, 23));
}